<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssdut.imkg.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ssdut.imkg.pojo.Role">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="name_zh" property="nameZh" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, name_zh
    </sql>

    <!--根据id查询用户角色-->
    <select id="getUserRoles" resultType="com.ssdut.imkg.pojo.Role">
        select r.id, r.name, r.name_zh
        from role as r
            left join user_role ur
            on r.id = ur.role_id
        where ur.user_id = #{id};
    </select>

</mapper>
